{%- set ports = [] %}
{%- for conf in mosquitto.config %}
{%-   if not conf.startswith("listener") %}
{%-     continue %}
{%-   endif %}
{%-   set parts = conf.split(" ") %}
{%-   if parts[1] | int > 0 %}
{%-     do ports.append(parts[1:]) %}
{%-   endif %}
{%- endfor -%}
{%- set container_vars = salt["match.filter_by"](mosquitto.lookup.container_variants, minion_id=mosquitto.container_variant, default="mosquitto_official") %}
---
version: '3'
services:
  mosquitto:
    container_name: mosquitto
    image: {{ container_vars.image }}
    env_file:
      - {{ mosquitto.lookup.paths.config_mosquitto }}
{%- if mosquitto.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ mosquitto.lookup.paths.config }}:{{ container_vars.config }}
      - {{ mosquitto.lookup.paths.data }}:{{ container_vars.data }}
      - {{ mosquitto.lookup.paths.log }}:{{ container_vars.log }}
{%- if ports %}
    ports:
{%-   for port in ports %}
      - {{ ("127.0.0.1:" if port | length > 1 and port[1] in ["localhost", "127.0.0.1"] else "") ~ port[0] }}:{{ port[0] }}
{%-   endfor %}
{%- endif %}
    restart: unless-stopped
